H1 {

color:#ce27b8;
font-family: 'Lobster', cursive;}

 
H2 

{color:#ce27b8;}

.navbar-inverse .navbar-brand {
    color:#e8b0c0 ;
    font-family: 'Bubbler One', sans-serif;
}

body {background-color:#e8b0c0; }

#Hästenshälsa {background-color:white;}

P, li {font-family: 'Bubbler One', sans-serif;
color:#000000;
}

